{% extends 'diary/base.html' %}
{% block content %}
  <h2>{% if object %}Edit Entry{% else %}New Entry{% endif %}</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"class="btn">Save</button>

    {% if object %}
      <a href="{% url 'diary:entry_detail' object.id %}" class="btn btn-secondary" style="margin-left: 10px;">Cancel</a>
    {% else %}
      <a href="{% url 'diary:entry_list' %}" class="btn btn-secondary" style="margin-left: 10px;">Cancel</a>
    {% endif %}
    
  </form>
{% endblock %}
